
body.site {
	/*background-color: #f4f6f7;*/
	padding: 20px;
	border-top: 3px solid #333;
	background-image: url(../img/fundo.svg);
	background-attachment: fixed;
	background-size: cover;
}

.container {
	max-width: 860px !important;
}

.body .container {
	background-color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 20px;
	border: 1px solid rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.05);
	box-shadow: 0px 0px 6px rgba(0,0,0,0.05);
}

.centralizado {
	text-align: center;
}

.banner {
	text-align: center;
}

.banner a {
	color: #333;
}

.banner a:hover {
	text-decoration: none;
}

.footer span{
	margin-top: 10px;
}
.centralizado a:hover {
	text-decoration: none;
}
.fa-facebook-square,
.fa-shopping-bag {
	color: #303f9f;
}
.fa-google-plus-square {
	color: red;
}

.menu-filtro {
	margin-bottom: 20px;
}

.cursor-pointer {
	cursor: pointer;
}