<!DOCTYPE html>
<html ng-app="myapp" lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home - Site de Compras</title>

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<script src="js/angular.min.js"></script>
	<script src="js/myapp.js"></script>
	<script src="js/jquery-3.2.1.js"></script>

	<link rel="shortcut icon" href="img/favicon.ico">

</head>
<body ng-controller="productController" class="site">
	
	<div class="body">
		<div class="container">
			<header class="header">
				<div class="banner">
					<h1><a href="index.html">Site de Compras</a></h1>
				</div>
			</header>
			<hr />
			
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<span class="navbar-brand"><i class="fa fa-shopping-bag"></i></span>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">HOME <span class="sr-only">(current)</span></a></li>
							<li><a href="sobre.html">Sobre</a></li>
						</ul>
						<form class="navbar-form navbar-right">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Buscar produto" ng-model="search">
							</div>
						</form>

					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>

			<hr />

			<div class="row-fluid">
				<div class="col-md-12 text-center menu-filtro">
					<div class="btn-group" role="group">
						<button class="btn btn-default" ng-click="filterBy('camisa')">Camisas</button>
						<button class="btn btn-default" ng-click="filterBy('tenis')">Tênis</button>
						<button class="btn btn-default" ng-click="filterBy('bone')">Bonés</button>
						<button class="btn btn-default" ng-click="filterBy('mochila')">Mochilas</button>
						<button class="btn btn-default" ng-click="filterBy('')">Todos</button>
					</div>
				</div>
				
				<div class="col-md-6">
					
					<div class="panel panel-default">
						
						<div class="panel-heading">
							PRODUTOS
						</div>

						<table class="table table-striped">
							<tr>
								<th>ID <i ng-click="orderByMe('id')" class="fa fa-sort cursor-pointer"></i></th>
								<th>NOME <i ng-click="orderByMe('name')" class="fa fa-sort cursor-pointer"></th>
								<th>PREÇO <i ng-click="orderByMe('price')" class="fa fa-sort cursor-pointer" ></th>
								<th></th>
							</tr>

							<tr ng-repeat="product in listProducts | filter: search | orderBy:myOrderBy | filter: myFilter">
								<td>{{product.id}}</td>
								<td>{{product.name}}</td>
								<td>R$ {{product.price}}</td>
								<td>
									<a class="btn btn-default" href="javascript:void(0)" ng-click="addCarrinho(product.id)">
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</a>
							</td>
						</tr>
					</table>
				</div>

			</div>

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading text-center">
						CARRINHO
					</div>
					<table class="table table-striped">

						<tr ng-repeat="product in listCarrinho">
							<td>{{product.name}}</td>
							<td>x{{product.quantity}}</td>
							<td>R$ {{product.price}}</td>
							<td>
								<a class="btn btn-default" href="javascript:void(0)" ng-click="addOne(product.id)">
									<i class="fa fa-plus" aria-hidden="true"></i>
								</a>
								<a class="btn btn-default" href="javascript:void(0)" ng-click="removeOne(product.id)">
									<i class="fa fa-minus" aria-hidden="true"></i>
								</a>
							</td>
							
						</tr>
						<tr>
							<td><b>Total:</b> </td>
							<td></td>
							<td><b>R$ <span ng-bind="totalCarrinho"></span></b></td>
							<td></td>
						</tr>
					</table>

					<div class="panel-footer text-center" ng-if="listCarrinho.length > 0">
						<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Comprar</button>
					</div>

				</div>


				<!-- Modal Finalizar Compra -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Finalizar compra</h4>
							</div>
							<div class="modal-body">
								<ul class="list-group">
									<li class="list-group-item" ng-repeat="item in listCarrinho">
										{{item.name}} 
										<span class="badge">{{item.quantity}}x R$ {{item.price}}</span>
									</li>
									<li class="list-group-item"> </li>
									<li class="list-group-item">
										<b>Total da compra</b>
										<span class="badge">R$ <span ng-bind="totalCarrinho"></span></span>
									</li>
								</ul>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2" data-dismiss="modal" ng-click="limparCarrinho()">Finalizar</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Modal Finalizar Compra -->
				<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Compra finalizada</h4>
							</div>
							<div class="modal-body">
								Muito obrigado, e volte sempre!
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
<br>
<footer class="footer centralizado">
	<span>Johanny LS - 2017</span>
</footer>



<script src="js/script.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>